<div class="container">
  <h1>Where is hot now?</h1>
  <div class="rule_yellow" style="width:570px"></div>
  <div class="rule_white" style="width:570px"></div>

  <div id="search_box">
    <form action="/results" method="get">
    <input type="text" name="address" placeholder="Enter city or an address"/>
    <button class="btn_blue"> search </button>
  </div>
</div>

<div class="container">
  <div class="span6">
    <div id="wrap">
            <div class="header-container">
                <header class="wrapper clearfix">
                  <div class="ctaColumn">

                    <!-- LOGO Replace // Replace Text with your App name for SEO, text is replaced with logo.png file  -->
                    <h1>TrendVel Mobile</h1>
                    </div>

                    <!-- START IPHONE SLIDER -->
                    <div class="fader">
                      <div class="flexslider1">
                        <ul class="slides">
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                          <!-- INSERT IPHONE SLIDE  -->
                          <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                        </ul>
                      </div>
                    </div>

                    <!-- END HEADER -->
                </header>
            </div>

    </div>
  </div>

    <div class="span6">

      <h1>Unleash your travel!</h1>
      <p><strong>Trendvel</strong> finds the coolest place in your location with realtime social</p>

      <p>So what are you waiting for? Start your travel now.</p>
      <ul>
        <li><h3>Step 1: finds the coolest place.</h3></li>
        <li><h3 style="margin-top:10px;">Step 2: Get direction.</h3></li>
        <li><h3 style="margin-top:10px;">Step 3: Check-in your trip and share your achievement.</h3></li>
      </ul>
    </div>

  </div>



<div class="popup"> <a href="#" class="close"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8"
    enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
        <polygon fill="#FFFFFF" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17
  230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "
        />
       </svg></a>

    <div class="valid">
        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="15px" height="15px" viewBox="222.744 227.408 67.744 58.526"
        enable-background="new 222.744 227.408 67.744 58.526" xml:space="preserve">
            <path fill="#39BA6F" d="M250.062,285.934c-9.435-11.111-15.731-18.195-27.318-28.935l5.793-5.357
  c6.778,3.28,11.076,5.774,18.693,11.204c14.32-16.25,23.783-24.495,41.372-35.438l1.886,4.335
  C275.983,244.402,265.359,258.502,250.062,285.934z" />
        </svg>
    </div>
    <div class="popup-class">
     <h1>Awesome.</h1>

      <p>You're ready to proceed!</p>
    </div>
</div>





  <footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://locaze.co" target="_blank">@locaze</a>.</p>
      </div>
  </footer>

</div>
