<!-- START HEADER  -->
<div id="wrap">
        <div class="header-container">
            <header class="wrapper clearfix">
              <div class="ctaColumn">

                <!-- LOGO Replace // Replace Text with your App name for SEO, text is replaced with logo.png file  -->
                <h1>TrendVel</h1>
                </div>

                <!-- START IPHONE SLIDER -->
                <div class="fader">
                  <div class="flexslider1">
                    <ul class="slides">
                      <!-- INSERT IPHONE SLIDE  -->
                      <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                      <!-- INSERT IPHONE SLIDE  -->
                      <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                      <!-- INSERT IPHONE SLIDE  -->
                      <li><%= image_tag("Couch_Cachet_Slides-1.jpg")%></li>
                    </ul>
                  </div>
                </div>

                <!-- END HEADER -->
            </header>
        </div>





<h3>Unleash your travel!</h3>
<p><strong>Trendvel</strong> finds the coolest place in your location with realtime social</p>

<p>So what are you waiting for? Start your travel now.</p>
<ul>
  <li><h3><table><tr><td>Step 1: finds the coolest place in your location </td><td><a href='/clients/foursquare/new'><img src='https://playfoursquare.s3.amazonaws.com/press/logo/connect-black.png'/ style="padding-left: 10px;"></a></td></tr></table></h3></li>
  <li><h3 style="margin-top:10px;">Step 2: Check-in your trip and share your achievement.</h3></li>
</ul>

</div>