.test {
	display: in
}

#bg_yellow {
	background-color: #ffbb04;
}

.container {
	width: 80%;
	min-width: 600px;
	margin: auto;
}

h1 {
	font-family: "Lobster";
	font-size: 55px;
	color: #de0808;
	line-height: 50px;
	margin-top: 175px;
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	font-family: "Lobster";
	font-size: 34px;
	color: #de0808;
	line-height: 50px;
	margin-top: 80px;
	margin-bottom: 25px;
	text-align: center;
}

.rule_yellow {
	height: 2px;
	background-color: #f9aa00;
	margin: auto;
}

.rule_white {
	height: 1px;
	background-color: #ffda66;
	margin: auto;
}

.btn_blue {
	background-color: #0a8cc8;
	font-family: "Open Sans";
	font-size: 20px;
	line-height: 20px;
	color: white;
	padding: 8px 15px;
	border: 1px solid #086a97;
	border-radius: 4px;
	text-align: center;
  cursor: pointer;
}

#search_box .btn_blue {
	margin-top: -11px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding: 8px;
	font-family: "Open Sans";
	font-weight: 100;
	margin-right: 5px;
	font-size: 16px;
	line-height: 25px;
}

.form-inline {
	text-align: center;
	margin-top: 20px;
}

#auth_links {
	width: 570px;
	margin: auto;
	margin-top: -10px;
	text-align: right;
}

#search_box {
	width: 571px;
	margin: auto;
	margin-top: 20px;
}

#search_box input[type="text"] {
	width: 450px;
}

.fader{
	position: relative;
	padding-bottom: 268px;
	width: 286px;
	margin-right: auto;
	margin-left: auto;
	background: url(iphone_nohand.png) no-repeat center 0;
	background-size: 100%;
}


.fader .flexslider1{
	width: 244px;
	height: 434px;
	position: relative;
	top: 87px;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}
.fader .flex-control-nav{
	bottom: -60px;
}







.popup {
    margin:50px;
    background:#39ba6f;
    height:200px;
    width:330px;
    border-radius:7px;
    border:1px solid #e5e5e5;
}
.valid {
    height:30px;
    width:30px;
    background:#fff;
    margin:0 auto;
    margin-top:30px;
    border-radius:5px;
    box-shadow:0px 1px 1px #4CB572;
}
#Layer_2 {
    margin:7px;
}

.bottom-popup {
    width:100%;
    background:#fff;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top:32px;
    padding:30px 0 30px 0;
}
a.start {
    margin:-12px 39% 0 0;
    border-radius:40px;
    background:#39ba6f;
    padding:6px 20px 6px 20px;
    font-family:'helvetica';
    color:white;
    font-weight:bold;
    text-decoration:none;
    font-size:.10em;
    float:right;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    border:1px solid #4CB572;
}
a.start:hover {
    border-radius:5px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
#Layer_1 {
    float:right;
    margin:10px;
}

.popup-class h1 {
    color:white;
    font-family:helvetica;
    font-size:1em;
    text-align:center;
    font-weight:bold;
    line-height:10px;
    margin-top:26px;
    text-shadow: 0px 1px 1px #4CB572;
}
.popup-class p {
    color:white;
    font-family:helvetica;
    font-size:.75em;
    text-align:center;
    line-height:1px;
    text-shadow: 0px 1px 1px #4CB572;
}

.result .btn-success a{
	color: #FFF !important;
}
